
.woocommerce-email-cart-wrap { margin: 0 !important; padding: 0 !important;}
.woocommerce-email-cart-wrap .wrap { margin: 0; max-width: 950px;  min-width: 820px; position: relative;}
.woocommerce-email-cart-wrap .wrap .icon32 { float: left; height: 34px; margin: 7px 8px 0 3px; width: 36px; }

.woocommerce-email-cart-wrap .wrap .submit { margin: 25px 0;}

.woocommerce-email-cart-wrap .wrap h2 { font-size: 23px !important; padding: 35px 15px 20px 0 !important; line-height: 27px !important; color: #464646; clear: none !important; margin: 0 !important;}
.woocommerce-email-cart-wrap .wrap h2 .dashicons { line-height:inherit; font-size: 20px; position: relative; bottom: -2px; margin: 0 3px; color: #989898;}
.woocommerce-email-cart-wrap .wrap .email-cart-settings { float:right; color: #717171; text-decoration: none; border-radius: 2px; padding: 4px 9px 3px 6px; transition: .3s; margin: 36px 0 0; line-height: 19px;}
.woocommerce-email-cart-wrap .wrap .email-cart-settings .dashicons { font-size:18px; transition: .3s !important; position: relative; bottom: -2px; line-height: 14px;}
.woocommerce-email-cart-wrap .wrap .email-cart-settings:hover { background: #D2D2D2;  color: #007DB7;}

.woocommerce-email-cart-wrap .wrap .email-cart-back { color: #0074AA; font-size: 13px; float: left; margin: 36px 15px 0 0; background: #E0E0E0;   text-decoration: none;  border-radius: 2px;  padding: 4px 9px 3px 6px;  transition: .3s;   line-height: 19px;}
.woocommerce-email-cart-wrap .wrap .email-cart-back .dashicons { margin: 0 0 -6px; bottom: 2px; font-size: 18px;  transition: .3s !important;  position: relative;   line-height: 22px; max-width: 10px; display: inline-block; left: -5px;}

.woocommerce-email-cart-wrap .wrap .email-cart-back:hover { background: #D2D2D2; color: #007DB7; }

.woocommerce-email-cart-wrap #icon-woocommerce-email-cart { background-image: url(../images/email-cart.png) !important; }
.woocommerce-email-cart-wrap .tool-box { margin: 0 0 0 12px; }
.woocommerce-email-cart-wrap .tool-box h4 { margin: 15px 0 10px; padding: 0; font-size: 12px; font-weight: bold; }

.woocommerce-email-cart-wrap p.submit { margin: 0; padding: 5px 0 15px; }
.woocommerce-email-cart-wrap .closed .email-cart-toggle { display: none; }


.email-cart-button-holder { clear: both; float: none; }
.email-cart-button { background: none; }

/*
#email_cart_dropdown_btn:before { content: ''; display: table; }
#email_cart_dropdown_btn:after { clear: both; }
*/

.email-cart { background-color: #FFFFFF; border-radius: 1px; margin: 25px 0 0; padding: 34px 28px 20px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); display: none; position: relative; clear: both; float: none;}
.email-cart .email-cart-img { background-image: url(../images/email_cart_repeat.png); height: 4px; margin: 0 -24px 0;}
.email-cart .email-cart-img.email-cart-img-bottom { margin-bottom: -16px; margin-top: 16px;}
.email-cart .email-cart-img.email-cart-img-top { margin-top: -30px; margin-bottom: 30px;}

/* Email Cart - Front-End */
.woocommerce .email-cart form { margin: 0; padding: 0; }
.woocommerce .email-cart h3 { font-size: 26px; padding: 0; margin: 0 0 15px;}
.woocommerce .email-cart h4 { font-size: 20px; padding: 0; margin: 0 0 10px;}
.woocommerce .email-cart p { margin: 0; padding: 0;}
.woocommerce .email-cart hr { margin: 12px 0 22px; border: 0; height: 1px; background-color: rgb(223, 223, 223);}
.woocommerce .email-cart .email-cart-intro { padding: 6px 0 16px; }
.woocommerce .email-cart .email-cart-row { padding: 6px 0 16px; }
.woocommerce .email-cart .email-cart-row .email-cart-description { color: #979797; font-size: 11px; line-height: 1.3em; display: block; margin: 9px 0 0;}
.woocommerce .email-cart .email-cart-row input.email-cart-input-text { background-color: #FFFFFF; border: 1px solid #DCDCDC; color: #656565; padding: 7px 10px 8px; width: 100%; box-sizing: border-box; margin: 0; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.03); border-radius: 3px; font-family: inherit; font-size: 14px; line-height: 18px; height: auto;}
.woocommerce .email-cart .email-cart-row select { background-color: #FFFFFF; border: 1px solid #DCDCDC; color: #656565; padding: 7px 7px 8px 8px; min-width: 130px; box-sizing: border-box; width: auto; outline: none; border-radius: 3px; font-family: inherit; font-size: 14px; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.03); line-height: 18px; height: auto;}
.woocommerce .email-cart .email-cart-row textarea { background-color: #FFFFFF; border: 1px solid #DCDCDC; border-radius: 3px; color: #656565; font-family: inherit; font-size: 14px; min-height: 300px; padding: 10px 10px 8px; width: 100%; line-height: 1.3em; box-sizing: border-box; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.03); margin: 0;}
.woocommerce .email-cart .email-cart-row input.email-cart-input-text:focus,
.woocommerce .email-cart .email-cart-row textarea:focus,
.woocommerce .email-cart .email-cart-row select:focus { border: 1px solid rgb(133, 137, 141); }
.woocommerce .email-cart .email-cart-row.email-cart-submit-block { text-align: right; }
.woocommerce .email-cart .email-cart-row.email-cart-submit-block input { width: auto; }
.woocommerce .email-cart .email-cart-close { position: absolute; right: 5px; top: 13px; width: 35px; height: 35px; overflow: hidden; text-indent: -9999px; background: url(../images/email_cart_close_button.png) 6px 5px no-repeat; cursor: pointer;}
.woocommerce .email-cart .email-cart-close:hover { background-position: -25px 5px; }

/* Email Cart - Backend */
.woocommerce-email-cart .postbox { margin: 0 0 28px;}
.woocommerce-email-cart .postbox .handlediv { margin-top: 2px; margin-right: 3px; }
.woocommerce-email-cart .hndle-more { font-size: 11px; font-family: sans-serif; color: rgb(143, 143, 143); padding: 0 4px; }
#poststuff h3,
.metabox-holder h3 { padding: 8px 16px 8px; line-height: 1.3em; font-size: 15px; font-weight: normal;}
#poststuff h3 strong,
.metabox-holder h3 strong { font-weight:bold; }

table.email-cart-table { border: 0 none; background: #FFFFFF; width: 100%;}
table.email-cart-table tbody tr td { padding: 19px 15px; border-top: 1px solid #EEEEEE; border-bottom: 0 none; }
table.email-cart-table tbody tr td.label { width: 24%; vertical-align: top; border-top: 1px solid #1px solid #EEEEEE; padding-right: 7%;}
table.email-cart-table tbody tr td.label p { display:block; font-size: 12px;padding:0!important;margin:3px 0 0!important;font-style:normal;line-height:16px; color: #999999; }
table.email-cart-table tbody tr td.label label { display: block;  font-weight: 400;  padding: 0;  margin: 0 0 8px;  color: #333;  font-size: 14px; }

table.email-cart-table > tbody > tr:first-child > td,
table.email-cart-table > tbody > tr:first-child > td.label { border-top: 0 none; }
table.email-cart-table select.email-cart-select,
table.email-cart-table input[type="text"],
table.email-cart-table textarea { padding: 7px 9px; font-size: 1.1em; height: auto; line-height: 1.5em; line-height: 1.3em; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02); background: #FBFBFB;}
table.email-cart-table input[readonly] { background-color: rgb(247, 247, 247); }
table.email-cart-table input.submit-button { line-height: 30px; height: 31px; padding: 0 10px; }
table.email-cart-table .tips { color: inherit; font-weight: normal;}

#woocommerce-order-items .email-cart-toggle { border: 1px solid #dfdfdf; background-color: #F5ECF3; width: 95%; border-radius: 1px; }
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper { margin-right: -1px; overflow: hidden; border-bottom: 1px solid rgba(0, 0, 0, 0.03); }
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items { border: 0; width: 100%;}
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items thead th { background: transparent; border-bottom: 0; min-width: initial;}
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items .item td { border-top: 1px dotted #DADADA; border-bottom: 0;}
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items .item td.product-remove { vertical-align: middle; text-align:center; }
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items .item td.product-remove .remove { background: #D9CAD5; border-radius: 100px; color: white; font-size: 15px; line-height: 21px; padding: 0; height: auto; width: 21px; margin: -2px -5px 0 1px; box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset; transition: .2s;}
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items .item td.product-remove .remove:hover { background: #BE0034; }
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items .item .name a { color: inherit; text-decoration: none; border-bottom: 1px dotted rgb(202, 202, 202);}
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items .line_cost { padding-right: 14px;}
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items td.check-column { text-align: left; }
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items tr th:first-child input,
#woocommerce-order-items .email-cart-toggle .woocommerce_order_items_wrapper table.woocommerce_order_items tr td:first-child input { margin: 0; width: auto; }

#woocommerce-order-items .email-cart-toggle .update_action { padding: 14px 0 11px 14px; margin: 0; display:inline-block; /* background:red; */ float: left;}
#woocommerce-order-items .email-cart-toggle .add_items { padding: 14px 14px 14px; margin: 0; width: 350px !important; text-align: left; float: right;}
#woocommerce-order-items .email-cart-toggle .add_items button { margin: 0 !important;  line-height: 1.6em; font-size: 13px; height: 28px; float: right;}

#woocommerce-order-items .email-cart-toggle select { margin: 0; }
#woocommerce-order-items .email-cart-toggle .bulk_actions button { position:relative; bottom:-3px; margin-left:3px }

#woocommerce-order-items .email-cart-toggle .chosen-choices,
#woocommerce-order-items .email-cart-toggle .chzn-choices { line-height: 26px; }

#woocommerce-order-items .email-cart-toggle .add_items .chosen-container,
#woocommerce-order-items .email-cart-toggle .add_items .chzn-container { width: 253px !important; margin: 0; }


/************************* Settings Page *************************/
table.form-table { position: relative; min-width: 255px; border: 1px solid #e5e5e5; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04); box-shadow: 0 1px 1px rgba(0,0,0,.04); background: #FFF; max-width: 950px; }
table.form-table th { width: 24%; font-weight: 400; /* box-shadow:0 0 1px red inset; */ box-sizing: border-box; float: left; padding: 19px 15px; padding-right: 7%; border-top: 1px solid #EEE;}
table.form-table th label { display: block; font-weight: 400; padding: 0; margin: 0 0 8px; color: #333; font-size: 14px; }
table.form-table td { width: 76%; /* box-shadow:0 0 1px red inset; */ box-sizing: border-box; float: left; padding: 19px 15px; border-top: 1px solid #EEE;}
table.form-table td p { display: block; font-size: 12px; padding: 0!important; margin: 0 0 15px !important; font-style: normal; line-height: 16px; color: #999; }
table.form-table td .description { display: block; font-size: 12px; padding: 0!important; margin: 11px 0 6px !important; font-style: normal; line-height: 16px; color: #999; }
table.form-table tr:first-child > th,
table.form-table tr:first-child > td { border-top:0; }
table.form-table td.forminp-checkbox label { /* background:red; */ margin: 0 !important;}
table.form-table select,
table.form-table input[type="text"],
table.form-table textarea { padding: 7px 9px; font-size: 1.1em; height: auto; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02); background: #FBFBFB; box-sizing: border-box; }
table.form-table input[type="text"],
table.form-table textarea { border-style: solid; border-width: 1px; width: 95%; }
